.grid-container {
    display: grid; /* Enables grid layout */
    grid-template-columns: 1fr 350px 1fr; 
    grid-template-rows: repeat(4, auto); /* Creates 4 rows with automatic height */
    gap: 10px; /* Adds space between grid items */
    padding: 20px; /* Adds padding around the grid */
    background-color: #f4f4f4; /* Optional: Background for the container */
  }
  .grid-item {
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    text-align: center; /* Center text horizontally */
    padding: 2px; /* Add spacing inside items */
    font-size: 1.2em; /* Adjust font size */
    border-radius: 5px; /* Optional: Rounded corners */
  }
  .classicbanner{
    display:inline-block;
    height: 300px;
    width:100%;
    border: solid black 5px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .grid-item {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }
  .row{
    margin: 10px;
  }
  .card{
    background-color: black;
    color: white;
  }
  button.join{
    background-color: white;
    color:black;
    border-radius: 5px;
    font-family: "UnifrakturMaguntia", serif;
  }