  .classicbanner{
    display:inline-block;
    height: 300px;
    width:100%;
    border: solid black 5px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .grid-item {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }
  .row{
    margin: 10px;
  }
  .card{
    background-color: black;
    color: white;
  }
  button.join{
    background-color: white;
    color:black;
    border-radius: 5px;
    font-family: "UnifrakturMaguntia", serif;
  }
  h3.subtitle{
    background-image: linear-gradient(90deg,green,yellow);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    text-decoration: none;
    transition: background-size 450ms ease;
  }
  h3.subtitle:hover{
    background-size: 100% 3px;
  }
  @media (max-width: 768px) {
    .card{
        margin: 10px;
    }
    .classicbanner{
        height: 200px;
    }
  }
  @media (max-width: 480px) {
    .classicbanner{
        height: 100px;
    }
  }